{% extends 'base.html.twig' %}

{% block title %}Qualification index{% endblock %}

{% block body %}





    {% if is_granted('ROLE_ELECTRICIAN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
    <h1>Qualification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Qualification_Name</th>
                <th>Expiry_Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for qualification in qualifications %}
            <tr>
                <td>{{ qualification.id }}</td>
                <td>{{ qualification.QualificationName }}</td>
                <td>{{ qualification.ExpiryDate }}</td>
                <td>
                    <a href="{{ path('app_qualification_show', {'id': qualification.id}) }}">show</a>
                    <a href="{{ path('app_qualification_edit', {'id': qualification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_qualification_new') }}">Create new</a>
    {% else %}
        <p>You are not allowed to access this page. Sorry!</p>
    {% endif %}
{% endblock %}
