{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ELECTRICIAN') or is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
    <h1>Job index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Location</th>
                <th>JobType</th>
                <th>FileName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.location }}</td>
                <td>{{ job.jobType }}</td>
                <td>{{ job.fileName }}</td>
                <td>
                    <a href="{{ path('app_job_show', {'id': job.id}) }}">show</a>
                    <a href="{{ path('app_job_edit', {'id': job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_job_new') }}">Create new</a>
    {% else %}

    <p>You do not have access to this page. Sorry!</p>
    {% endif %}
{% endblock %}
